/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

/* Style for the "you have already booked this" bar in activity.html */
.booked {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 2rem;
}

/* Style for the "type" field in activity.html */
.type {
    color: rgb(117, 117, 117);
}

/* Style for the warning bar*/
.warning {
    background-color: red;
    padding: 1rem 0 1rem;
    display: none;
}

/* activites.html */
#headers {
    position: relative;
}

#cards-container {
    width: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: left;
    /* center items vertically */
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card-wrapper {
    margin: auto;
    margin-top: 0;
    width: 18rem;
    color: black;
    text-decoration: none;
}

.card-wrapper:hover {
    color: black;
}

.desktop-card .card-booked {
    background: rgb(184, 242, 255);
    border: 2px solid #0d6efd;
    border-radius: 3px;
}

.desktop-card .card-img {
    height: 10rem;
    object-fit: contain;
}

.mobile-card.booked-card {
    border-color: #0d6efd;
    border-width: 2px;
}

.mobile-card .card-body {
    display: flex;
    padding: 0;
}

.mobile-card .card-img {
    height: auto;
    max-width: 50%;
    object-fit: contain;
    flex: 50%;
}

.mobile-card .card-body-right {
    flex: 50%;
    padding: 1%;
}

/* me.html, activities.html, activity.html */
@media (max-width: 767px) {
    #activities-filter {
        position: relative;
        margin-bottom: 1rem;
        width: 60%;
        margin-left: 20%;
    }
    .card-wrapper {
        margin-bottom: 1rem;
        width: 100%;
    }
    .desktop-card, #table-desktop {
        display: none;
    }
    .mobile-card {
        display: flex;
    }
    .display-on-mobile {
        display: block;
    }
    #table-mobile {
        display: initial;
    }
}

@media (min-width: 768px) {
    #activities-filter {
        position: absolute;
        left: calc(1% + 10px);
        top: calc(50% - 0.9rem);
        height: 2rem;
        width: 15rem;
    }
    .card-wrapper {
        margin-bottom: 0;
        width: 18rem;
    }
    .desktop-card {
        display: flex;
    }
    #table-desktop {
        display: initial;
    }
    .mobile-card, .display-on-mobile, #table-mobile {
        display: none;
    }
}
