/* all */

.card-booked {
    background-color: #ddf7fe;
    border-color: #4e95ff;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

/* layout.html */

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
.navbar-brand .blue {
    color: #537fbe;
}

.navbar-brand .red {
    color: #ea433b;
}

.navbar-brand .green {
    color: #2e944b;
}

/* dark mode switch */
.switch {
    font-size: 17px;
    position: relative;
    min-width: 64px;
    width: 64px;
    height: 34px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.sun, .moon {
    cursor:pointer;
}

.input:checked + .slider {
    background-color: #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

/* Style for the warning bar*/
.warning {
    border-radius: 20px;
    background-color: rgb(255, 100, 100);
    padding: 1rem 0 1rem;
}

.btn-group .btn {
    border-radius: 0 !important;
}

/* activity.html */

.unbooking .card-booked {
    display: flex;
    margin: auto;
    width: 20rem;
    padding: 0px;
}

/* activities.html */

#headers {
    position: relative;
}

#cards-container {
    width: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: left;
    /* center items vertically */
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card-wrapper {
    /* this properties override the fact that this is really a link*/
    color: inherit;
    :hover {
        color: inherit;
    }
    text-decoration: none;
}

.desktop-card {
    width: 100%;
    border-width: 2px;
    position: relative;

    .card-img {
        height: 10rem;
        object-fit: contain;
    }

    .card-body {
        height: 16rem;
    }

    .card-title {
        min-height: 4.5rem;
    }

    .card-text {
        height: 7.5rem;
        overflow-y: hidden;
    }

    .card-booked {
        position: absolute;
        bottom: 15px;
        width: calc(100% - 2rem); /* 1rem per side is the padding of card-body */
        padding: 5px;
    }
}

.mobile-card {
    border-width: 5px;
    width: 100%;
}

.mobile-card .card-img {
    width: 100%;
    object-fit: contain;
    flex: 100%;
}

.mobile-card .card-body-right {
    flex: 50%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    --padding-lat: 20px;
    padding-left: var(--padding-lat);
    padding-right: var(--padding-lat);
    padding-top: 10px;
}

#activities-filter {
    display: flex;
    > input {
        padding-right: 2rem;
    }
    > button {
        border: none;
        background: inherit;
        margin-left: -2rem;
    }
}

/* archive.html */

.archive-row {
    /* Somehow got the margins to collapse nicely. May break. */
    margin: 1rem 0 1rem 0;
    > nav {
        display: flex;
        > * {
            width: 25%;
        }
        > div[type=button] {
            background-image: url("data:image/svg+xml,<svg viewBox=\"0 0 15 15\" xmlns=\"http://www.w3.org/2000/svg\"><path fill=\"rgb(33, 37, 41)\" d=\"M7.49999 3.09998C7.27907 3.09998 7.09999 3.27906 7.09999 3.49998C7.09999 3.72089 7.27907 3.89998 7.49999 3.89998H14.5C14.7209 3.89998 14.9 3.72089 14.9 3.49998C14.9 3.27906 14.7209 3.09998 14.5 3.09998H7.49999ZM7.49998 5.1C7.27907 5.1 7.09998 5.27908 7.09998 5.5C7.09998 5.72091 7.27907 5.9 7.49998 5.9H14.5C14.7209 5.9 14.9 5.72091 14.9 5.5C14.9 5.27908 14.7209 5.1 14.5 5.1H7.49998ZM7.1 7.5C7.1 7.27908 7.27909 7.1 7.5 7.1H14.5C14.7209 7.1 14.9 7.27908 14.9 7.5C14.9 7.72091 14.7209 7.9 14.5 7.9H7.5C7.27909 7.9 7.1 7.72091 7.1 7.5ZM7.49998 9.1C7.27907 9.1 7.09998 9.27908 7.09998 9.5C7.09998 9.72091 7.27907 9.9 7.49998 9.9H14.5C14.7209 9.9 14.9 9.72091 14.9 9.5C14.9 9.27908 14.7209 9.1 14.5 9.1H7.49998ZM7.09998 11.5C7.09998 11.2791 7.27907 11.1 7.49998 11.1H14.5C14.7209 11.1 14.9 11.2791 14.9 11.5C14.9 11.7209 14.7209 11.9 14.5 11.9H7.49998C7.27907 11.9 7.09998 11.7209 7.09998 11.5ZM2.5 9.25003L5 6.00003H0L2.5 9.25003Z\" /></svg>");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2rem;
            color: var(--bs-body-color);
        }
    }
    > div {
        display: flex;
        margin: 0 5% 0 5%;
        > * {
            margin-top: 1rem;
            flex: 1 0 0;
        }
        img {
            max-height: 40vh;
            max-width: 100%;
        }
    }
}

[data-bs-theme="dark"]  {
    .card-booked {
        background-color: #002040;
    }
    .archive-row > nav > div[type=button] {
        background-image: url("data:image/svg+xml,<svg viewBox=\"0 0 15 15\" xmlns=\"http://www.w3.org/2000/svg\"><path fill=\"rgb(222, 226, 230)\" d=\"M7.49999 3.09998C7.27907 3.09998 7.09999 3.27906 7.09999 3.49998C7.09999 3.72089 7.27907 3.89998 7.49999 3.89998H14.5C14.7209 3.89998 14.9 3.72089 14.9 3.49998C14.9 3.27906 14.7209 3.09998 14.5 3.09998H7.49999ZM7.49998 5.1C7.27907 5.1 7.09998 5.27908 7.09998 5.5C7.09998 5.72091 7.27907 5.9 7.49998 5.9H14.5C14.7209 5.9 14.9 5.72091 14.9 5.5C14.9 5.27908 14.7209 5.1 14.5 5.1H7.49998ZM7.1 7.5C7.1 7.27908 7.27909 7.1 7.5 7.1H14.5C14.7209 7.1 14.9 7.27908 14.9 7.5C14.9 7.72091 14.7209 7.9 14.5 7.9H7.5C7.27909 7.9 7.1 7.72091 7.1 7.5ZM7.49998 9.1C7.27907 9.1 7.09998 9.27908 7.09998 9.5C7.09998 9.72091 7.27907 9.9 7.49998 9.9H14.5C14.7209 9.9 14.9 9.72091 14.9 9.5C14.9 9.27908 14.7209 9.1 14.5 9.1H7.49998ZM7.09998 11.5C7.09998 11.2791 7.27907 11.1 7.49998 11.1H14.5C14.7209 11.1 14.9 11.2791 14.9 11.5C14.9 11.7209 14.7209 11.9 14.5 11.9H7.49998C7.27907 11.9 7.09998 11.7209 7.09998 11.5ZM2.5 9.25003L5 6.00003H0L2.5 9.25003Z\" /></svg>");
    }
}

@media (max-width: 991.98px) {
    #activities-filter {
        position: relative;
        margin-bottom: 1rem;
        margin-left: 10%;
        width: 80%;
    }
    .card-wrapper {
        width: 100%;
    }
    .desktop-card, #table-desktop, #table-desktop, #flyer-div-desktop {
        display: none;
    }
    .mobile-card {
        display: flex;
    }
    #table-mobile {
        display: initial;
    }
    #flyer-div-mobile {
        display: block;
    }
    .archive-row > div {
        display: grid;
    }
}

@media (min-width: 992px) {
    #activities-filter {
        position: absolute;
        left: calc(1% + 10px);
        bottom: 0;
        width: 15rem;
    }
    .card-wrapper {
        margin-bottom: 0;
        width: 18rem;
    }
    .desktop-card {
        display: flex;
    }
    .mobile-card, #table-mobile, #flyer-div-mobile {
        display: none;
    }
    #table-desktop {
        display: initial;
    }
    #flyer-div-desktop {
        display: block;
    }
}
