/* all */

.card-booked {
    background-color: #ddf7fe;
    border-color: #4e95ff;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

[data-bs-theme="dark"] .card-booked {
    background-color: #002040;
}

/* template.html */

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
.navbar-brand .blue {
    color: #537fbe;
}

.navbar-brand .red {
    color: #ea433b;
}

.navbar-brand .green {
    color: #2e944b;
}

/* dark mode switch */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.sun, .moon {
    cursor:pointer;
}

.input:checked + .slider {
    background-color: #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

/* Style for the warning bar*/
.warning {
    border-radius: 20px;
    background-color: rgb(255, 100, 100);
    padding: 1rem 0 1rem;
}

/* activity.html */

.unbooking .card-booked {
    display: flex;
    margin: auto;
    width: 20rem;
    padding: 0px;
}

/* activites.html */

#headers {
    position: relative;
}

#cards-container {
    width: 100%;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: row;
    /* center items horizontally */
    align-items: left;
    /* center items vertically */
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card-wrapper {
    /* this properties ovveride the fact that this is really a link*/
    color: inherit;
    :hover {
        color: inherit;
    }
    text-decoration: none;
}

.desktop-card {
    height: 26rem;
    border-width: 2px;
    position: relative;
}

.desktop-card .card-img {
    height: 10rem;
    object-fit: contain;
}

.desktop-card .card-booked {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 2rem); /* 1rem per side is the padding of card-body */
    padding: 5px;
}

.mobile-card {
    border-width: 5px;
}

.mobile-card .card-img {
    width: 100%;
    object-fit: contain;
    flex: 100%;
}

.mobile-card .card-body-right {
    flex: 50%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    --padding-lat: 20px;
    padding-left: var(--padding-lat);
    padding-right: var(--padding-lat);
    padding-top: 10px;
}

/* me.html, activities.html, activity.html */
@media (max-width: 991.98px) {
    #activities-filter {
        position: relative;
        margin-bottom: 1rem;
        width: 60%;
        margin-left: 20%;
    }
    .card-wrapper {
        width: 100%;
    }
    .desktop-card, #table-desktop, #table-desktop, #flyer-div-desktop {
        display: none;
    }
    .mobile-card {
        display: flex;
    }
    #table-mobile {
        display: initial;
    }
    #flyer-div-mobile {
        display: block;
    }
}

@media (min-width: 992px) {
    #activities-filter {
        position: absolute;
        left: calc(1% + 10px);
        top: calc(50% - 0.9rem);
        height: 2rem;
        width: 15rem;
    }
    .card-wrapper {
        margin-bottom: 0;
        width: 18rem;
    }
    .desktop-card {
        display: flex;
    }
    .mobile-card, #table-mobile, #flyer-div-mobile {
        display: none;
    }
    #table-desktop {
        display: initial;
    }
    #flyer-div-desktop {
        display: block;
    }
}
