{% extends "activity_noavail.html" %}

{% block avail %}
<!-- Availability table -->
<h2>Disponibilità</h2>
<div style="margin: 5%;">
    <table class="table table-striped" id="table-mobile">
        <thead>
            <th> </th>
            {% for day in days %}
            <th>{{ day[1] }}</th>
            {% endfor %}
        </thead>
        {% for timespan in timespans %}
        <tr>
            <th>{{ timespan[1] }}</th>
            {% for rem in availability %}
            <td>{% if rem[timespan[0]] == -1 and g.user_type != "staff" %}0{% else %}{{ rem[timespan[0]] }}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <table class="table table-striped" id="table-desktop">
        <thead>
            <th>Giorni</th>
            {% for timespan in timespans %}
            <th>{{ timespan[1] }}</th>
            {% endfor %}
        </thead>
        {% for day in days %}
        <tr>
            <td>{{ day[1] }}</td>
            {% for rem in availability[loop.index0] %}
            <td>{% if rem == -1 and g.user_type != "staff" %}0{% else %}{{ rem }}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% block bookings %}{% endblock %}
{% endblock %}
