{% extends "activity_layout.html" %}

{% block title %}
    Attività
{% endblock %}

{% block bookings %}
    <!-- Bookings list -->
    {% if has_bookings %}
    {% for timespan, users in bookings.items() %}
    <h3>{{ timespan }}</h3>
    <table class="table">
        {% for user in users %}
        <tr>
            <td style="text-align: left; padding-left: 5%;">{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% else %}
    Le prenotazioni saranno visibili il giorno stesso delle attività.
    {% endif %}
{% endblock %}
