{% extends "layout.html" %}

{% block title %}
    Attività
{% endblock %}

{% block main %}
    <!-- Page Contents -->
    <!-- Heading -->
    <div style="margin: 0 2.5%;">
        <h1>{{ activity.title }}</h1>
        <h5>{{ activity.type }}</h5>
        <p>{{ activity.classroom }}</p>
    </div>
    <hr>

    <!-- Body -->
    <!-- Info -->
    <div class="row">
        <!-- Left column -->
        <div class="col-lg-6" id="description-div" style="text-align: center;">
            <!-- Description -->
            <!-- <h2 style="margin: 0">{{ activity.title }}</h2>
            <h4 style="margin: 0">{{ activity.type }}</h4> -->
            <div>
                <div style="text-align: left; margin: 5%;">
                    <!-- Makes \n linebreak, while adding a bit of extra spacing -->
                    {% for section in activity.description.split("\n") %}
                        <div style="margin-bottom: 20px;">
                            <p>{{ section }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Flyer (mobile) -->
            <div class="col-lg-6" id="flyer-div-mobile">
                <div style="margin: 5%;">
                    <img class="img-fluid" id="activity-image" src="{{ activity.image }}">
                </div>
            </div>

            <div>
                <!-- Availability table -->
                <div>
                    <h2>Disponibilità</h2>
                    <div style="margin: 5%;">
                        <table class="table table-striped" id="table-mobile">
                            <thead>
                                <th> </th>
                                {% for day in days %}
                                <th>{{ day }}</th>
                                {% endfor %}
                            </thead>
                            {% for timespan in timespans %}
                            <tr>
                                <th>{{ timespan[1] }}</th>
                                {% for rem in availability %}
                                <td>{{ rem[timespan[0]] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <table class="table table-striped" id="table-desktop">
                            <thead>
                                <th>Giorni</th>
                                {% for timespan in timespans %}
                                <th>{{ timespan[1] }}</th>
                                {% endfor %}
                            </thead>
                            
                            {% for day in days %}
                            <tr>
                                <td>{{ day }}</td>
                                {% for rem in availability[loop.index0] %}
                                <td>{{ rem }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                
                <!-- Bookings list -->
                {% if has_bookings %}
                <div>
                    {% for timespan, users in bookings.items() %}
                    <h3>{{ timespan }}</h3>
                    <table class="table">
                        {% for user in users %}
                        <tr>
                            <td style="text-align: left; padding-left: 5%;">{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
                {% else %}
                Le prenotazioni saranno visibili il giorno stesso delle attività.
                {% endif %}
            </div>
        </div>
        
        <!-- Right column (desktop flyer) -->
        <div class="col-lg-6" id="img-div">
            <div id="flyer-div-desktop">
                <div style="margin: 5%;">
                    <img class="img-fluid" id="activity-image" src="{{ activity.image }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
