{% extends "layout.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("td").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>


{% block title %}
    Le Nostre Attività
{% endblock %}

{% block main %}
    <h1>Attività</h1>
    <div class="mb-3" style="margin: 2rem 5%;">
        <table class="table table-striped">
            <colgroup>
               <col style="width: 20%;">
               <col style="width: 20%;">
               <col style="width: 20%;">
               <col style="width: 20%;">
               <col style="width: 20%;">
            </colgroup>
            <thead>
                <th>Titolo</th>
                <th>Tipo</th>
                <th>Durata</th>
                <th></th>
                <th>Prenotazione</th>
            </thead>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.title }}</td>
                <td>{{ activity.type }}</td>
                <td>{% if activity.length == 1 %} 1 modulo {% else %} {{ activity.length }} moduli {% endif %}</td>
                <td>
                    <form action="/activity" method="get">
                        <input type="hidden" name="id" value="{{ activity.id }}">
                        <button class="btn btn-primary" type="submit">Dettagli</button>
                    </form>
                </td>
                <td>{{ activity.booked }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
