{% extends "layout.html" %}

{% block title %}
    Catalogo laboratori {{ year }}
{% endblock %}

{% block main %}
    <script>
        function filter_activities() {
            keywords = $("#activities-filter-text")[0].value.toLowerCase().split(" ");
            console.log(keywords);
            $(".card-wrapper").each(function(i, obj) {
                let elements = [
                    $(".card-title", obj)[0],
                    $(".card-subtitle", obj)[0],
                ];
                let show = keywords.every(
                    (keyword) => {
                        return elements.some(
                            (element) => {
                                return element.textContent.toLowerCase().includes(keyword)
                            }
                        );
                    }
                );
                obj.style.display = show ? "flex" : "none";
            });
        }

        function clear_filter() {
            $("#activities-filter-text")[0].value = "";
            filter_activities();
        }

        $(document).ready(function() {
            // select the input field
            $("#activities-filter-text")[0].oninput = filter_activities;
            // filter on page load in case the browser has auto-filled the input
            filter_activities();
        });
    </script>

    <div id="headers">
        <h1 class="mb-3">Laboratori {{ year }}</h1>
        <div id="activities-filter">
            <input type="text" class="form-control" id="activities-filter-text" placeholder="Cerca">
            <button onclick="clear_filter()">
                <svg fill="#000000" width="1.2rem" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z"/>
                </svg>
            </button>
        </div>
    </div>

    <div id="cards-container">
        {% for activity in activities %}
            <a class="card-wrapper mx-2 my-2" href="activity?id={{ activity.id }}">
                <!-- desktop layout -->
                <div class="card desktop-card">
                    <p class="card-header">
                        {% if activity.length > 1 %}
                            {{ activity.length }} ore
                        {% else %}
                            1 ora
                        {% endif %}
                    </p>
                    <img class="card-img" src="{{ activity.image }}" alt="Locandina laboratorio {{ activity.id }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ activity.type }}</h6>
                        {% if activity.booked|length%}
                        <div class="card-booked">
                            Prenotazione: <br> {{ activity.booked }}
                        </div>
                        {% else %}
                        <p class="card-text">
                            {{ activity.description }}
                        </p>
                        {% endif %}
                    </div>
                </div>
                <!-- mobile layout -->
                <div class="card mx-auto mobile-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ activity.type }} - 
                        {% if activity.length > 1 %}
                            {{ activity.length }} ore
                        {% else %}
                            1 ora
                        {% endif %}
                        </h6>
                        <!--img class="card-img" src="{{ activity.image }}"-->
                        {% if activity.booked|length%}
                        <!--<br>-->
                        <div class="card-booked mt-3">
                            Prenotazione: <br> {{ activity.booked }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
