{% extends "activity_layout.html" %}

{% block bookings %}
    <!-- Bookings list -->
    {% for timespan, users in bookings %}
    <h3>{{ timespan }}</h3>
    <table class="table">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: 75%;">
        </colgroup>
        {% for user in users %}
        <tr>
            <td>{% if user[1] %}{{ user[1] }}{% endif %}</td>
            <td style="text-align: left;">{{ user[0] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}
