{% extends "activity_layout.html" %}

{% block bookings %}
    <script>
        // Function that enlarges buttons for mobile
        function enlarge () {
            if (window.screen.width <= 992) {
                $(".btn-lg-on-mobile").addClass("btn-lg");
                $(".btn-group-lg-on-mobile").addClass("btn-group-lg");
            }
        }

        // Enlarges buttons for mobile
        $(document).ready(enlarge);
    </script>

    <a href="/#info">
        <button class="btn btn-primary btn-lg-on-mobile" name="booking-button">Prenota</button>
    </a>
{% endblock %}
