{% extends "layout.html" %}

{% block title %}
    Attività
{% endblock %}

{% block main %}    
    <!-- Handles mobile -->
    <!-- Collapses content if on mobile -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            collapseOnMobile = $(".collapsed-by-mobile-button");
            if(window.screen.width <= 600) {
                collapseOnMobile.addClass("hide");
                collapseOnMobile.removeClass("show");
            } else {
                collapseOnMobile.addClass("show");
                collapseOnMobile.removeClass("hide");
            }
        });
    </script>    
    
    <!-- Make it so that only 1 collapsed-by-mobile-button can be shown at a time -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            $(".mobile-collapse-button").click(function() {
                // this.dataset.bsTarget
                $(".collapsed-by-mobile-button").removeClass("show");
            });
        });
    </script>

    <!-- Handles booking buttons -->
    <script>
        // Function that enlarges buttons for mobile
        function enlarge () {
            if (window.screen.width <= 600) {
                $(".btn-lg-on-mobile").addClass("btn-lg");
                $(".btn-group-lg-on-mobile").addClass("btn-group-lg");
            }
        }

        // Enlarges buttons for mobile
        $(document).ready(enlarge);


        // Handles booking
        document.addEventListener("DOMContentLoaded", function() {
            dayButtonsLabels = document.getElementsByName("day-button-label");
            timespanButtonsLabels = document.getElementsByName("timespan-button-label");
            availability = JSON.parse('{{ availability|tojson }}');
            user_free = JSON.parse('{{ user_free|tojson }}');
            
            // Add event listeners to day buttons to generate timespan buttons
            for (let i = 0; i < dayButtonsLabels.length; i++) {
                dayButtonsLabels[i].addEventListener("click", function() {
                    // Hides the available slots text and the booking button
                    document.getElementById("booking-button-div").style.visibility = "hidden";

                    // Reloads the timespans buttons div, so that no button is selected when switching day
                    $.get(document.URL, function(data) {
                        var content = $(data).find("#timespans-buttons-div").html();
                        $("#timespans-buttons-div").html(content);
                        
                        // Re-applies enlargement after reloading the content of the div
                        enlarge();

                        // Make the buttons visible
                        document.getElementById("timespans-buttons-div").style.visibility = "visible"

                        for (let j = 0; j < timespanButtonsLabels.length; j++) {
                            availableSlots = availability[i][j];

                            // Add event listeners to timespan buttons to generate booking button
                            timespanButtonsLabels[j].addEventListener("click", function() {
                                $("#available-slots").text(`${availableSlots} posti disponibili`);
                                document.getElementById("booking-button-div").style.visibility = "visible";
                            });
                            
                            // Disable buttons where there are no slots left
                            if (availableSlots <= 0 || !user_free[i][j]) {
                                timespanButtonsLabels[j].classList.remove("btn-outline-primary");
                                timespanButtonsLabels[j].classList.add("btn-outline-secondary");
                                timespanButtonsLabels[j].classList.add("disabled");
                            } else {
                                timespanButtonsLabels[j].classList.remove("btn-outline-secondary");
                                timespanButtonsLabels[j].classList.remove("disabled");
                                timespanButtonsLabels[j].classList.add("btn-outline-primary");
                            }
                        }
                    });
                });
            }
        });
    </script>

    <!-- Remove booking for admin & staff accounts -->
    <!-- <script>
        $(document).ready(function() {
            if ("{{ user_type }}" == "staff") {
                $(".booking").html("Gli account di tipo staff non si")
            }
        })
    </script> -->

    <!-- Page Contents -->
    <!-- Heading -->
    <div style="margin: 0 2.5%;">
        <h1>{{ activity.title }}</h1>
        <h5>{{ activity.type }}</h5>
        <p>Aula {{ activity.classroom }}</p>
    </div>
    <hr>

    <!-- Mobile collapse buttons -->
    <div class="display-on-mobile">
        <!-- Buttons -->
        <div class="d-grid gap-3" style="margin: 5%;">
            <!-- Description -->
            <button class="btn btn-lg btn-primary mobile-collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#description-div" aria-expanded="false" aria-controls="description-div">
                Descrizione
            </button>

            <!-- Flyer -->
            <button class="btn btn-lg btn-primary mobile-collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#flyer-div" aria-expanded="false" aria-controls="flyer-div">
                Locandina
            </button>

            <!-- Availability & Booking -->
            <button class="btn btn-lg btn-primary mobile-collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#booking-availability-div" aria-expanded="false" aria-controls="booking-availability-div">
                Prenota
            </button>
        </div>
        <hr>
    </div>

    <!-- Body -->
    <div>
        <!-- Info -->
        <div class="row">
            <!-- Left column -->
            <div class="col-lg-6 collapsed-by-mobile-button collapse" id="description-div" style="text-align: center;">
                <!-- Description -->
                <!-- <h2 style="margin: 0">{{ activity.title }}</h2>
                <h4 style="margin: 0">{{ activity.type }}</h4> -->
                <h2>Descrizione</h2>
                <div style="text-align: left; margin: 5%;">
                    <!-- Makes \n linebreak, while adding a bit of extra spacing -->
                    {% for section in activity.description.split("\n") %}
                        <div style="margin-bottom: 20px;">
                            <p>{{ section }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Right column -->
            <div class="col-lg-6 collapsed-by-mobile-button collapse" id="flyer-div">
                <h2>Locandina</h2>
                <div style="margin: 5%;">
                    <img class="img-fluid" src="{{ activity.image }}">
                </div>
            </div>
        </div>

        <!-- Booking / Availability -->
        <div class="row collapsed-by-mobile-button collapse" id="booking-availability-div">
            <!-- Availability table -->
            <div class="col-lg-6">
                <h2>Disponibilità</h2>
                <div style="margin: 5%;">
                    <table class="table table-striped">
                        <thead>
                            <th>Giorni</th>
                            {% for timespan in timespans %}
                            <th>{{ timespan[1] }}</th>
                            {% endfor %}
                        </thead>
                        
                        {% for day in days %}
                        <tr>
                            <td>{{ day[1] }}</td>
                            {% for rem in availability[loop.index0] %}
                            <td>{{ rem }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            <!-- Booking / Unbooking -->
            <div class="col-lg-6">
                {% if user_type == "staff" %}
                    <h2>Prenota</h2>
                    Gli account di tipo staff non hanno accesso alle prenotazioni
                {% elif not is_booked %}
                    <h2>Prenota</h2>
                    <div class="booking" style="margin: 5%;">
                        <form action="/activity?id={{ id }}" method="post">
                            
                            <!-- Buttons for the days -->
                            <div style="margin-top: 5%;">
                                <h5>Giorno</h5>
                                <div class="btn-group btn-group-lg-on-mobile container-fluid" role="group" style="flex-wrap: wrap;">
                                    {% for day in days %}
                                    <input type="radio" value="{{ day[0] }}" class="btn-check" name="day-button" id="{{ day[0] }}-day-button" autocomplete="off">
                                    <label class="btn btn-outline-primary" name="day-button-label" id="{{ day[0] }}-day-button-label" for="{{ day[0] }}-day-button">{{ day[1] }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <!-- Buttons for the timespans -->
                            <div id="timespans-buttons-div" style="margin-top: 5%; visibility: hidden;">
                                <h5>Ora</h5>
                                <div id="timespans-button-group" class="btn-group btn-group-lg-on-mobile container-fluid" role="group" style="flex-wrap: wrap;">
                                    {% for timespan in timespans %}
                                    <input type="radio" value="{{ timespan[0] }}" class="btn-check" name="timespan-button" id="{{ timespan[0] }}-timespan-button" autocomplete="off">
                                    <label class="btn btn-outline-primary" name="timespan-button-label" id="{{ timespan[0] }}-timespan-button-label" for="{{ timespan[0] }}-timespan-button">{{ timespan[1] }}</label>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Booking button and number of available slots -->
                            <div class="container-fluid" id="booking-button-div" style="margin-top: 5%; visibility: hidden;">
                                <!-- Number of available slots -->
                                <p id="available-slots">placeholder</p>
                                
                                <!-- Booking button -->
                                <button class="btn btn-primary btn-lg-on-mobile" name="booking-button">Prenota</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="unbooking">
                        <h2>Attività già prenotata</h2>
                        <form action="/activity?id={{ id }}" method="post" style="margin: 5%;">
                            <button class="btn btn-primary btn-lg-on-mobile" name="unbooking-button">Rimuovi Prenotazione</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}