{% extends "activity_layout.html" %}

{% block scripts %}
    <!-- Handles booking buttons -->
    <script>
        // Function that enlarges buttons for mobile
        function enlarge () {
            if (window.screen.width <= 992) {
                $(".btn-lg-on-mobile").addClass("btn-lg");
                $(".btn-group-lg-on-mobile").addClass("btn-group-lg");
            }
        }

        // Enlarges buttons for mobile
        $(document).ready(enlarge);


        // Handles booking
        document.addEventListener("DOMContentLoaded", function() {
            dayButtonsLabels = document.getElementsByName("day-button-label");
            timespanButtonsLabels = document.getElementsByName("timespan-button-label");
            timespanButtons = document.getElementsByName("timespan-button");
            availability = JSON.parse('{{ availability|tojson }}');
            user_free = JSON.parse('{{ user_free|tojson }}');
            
            // Add event listeners to day buttons to generate timespan buttons
            for (let i = 0; i < dayButtonsLabels.length; i++) {
                dayButtonsLabels[i].addEventListener("click", function() {
                    // Hides the available slots text and the booking button
                    document.getElementById("booking-button-div").style.visibility = "hidden";

                    // Make the buttons visible
                    document.getElementById("timespans-buttons-div").style.visibility = "visible"

                    for (let j = 0; j < timespanButtonsLabels.length; j++) {
                        // De-select the timespan button
                        timespanButtons[j].checked = false;
                        // Add event listeners to timespan buttons to generate booking button
                        timespanButtonsLabels[j].addEventListener("click", function() {
                            // Somehow, the value of j is saved correctly (only if it is declared with "let")
                            let avail = availability[i][j];
                            $("#available-slots").text(
                                avail === 1 ? '1 posto disponibile' : `${avail} posti disponibili`
                            );
                            document.getElementById("booking-button-div").style.visibility = "visible";
                        });
                        
                        // Disable buttons where there are no slots left
                        if (availability[i][j] <= 0 || !user_free[i][j]) {
                            timespanButtonsLabels[j].classList.remove("btn-outline-primary");
                            timespanButtonsLabels[j].classList.add("btn-outline-secondary");
                            timespanButtonsLabels[j].classList.add("disabled");
                        } else {
                            timespanButtonsLabels[j].classList.remove("btn-outline-secondary");
                            timespanButtonsLabels[j].classList.remove("disabled");
                            timespanButtonsLabels[j].classList.add("btn-outline-primary");
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block bookings %}
    <!-- Booking / Unbooking -->
    {% if not activity.booked|length %}
    <div class="booking" style="margin: 2%;">
        {% if g.can_book %}
        <h2 style="margin-bottom: 1rem;">Prenota</h2>
        <form method="post">
            
            <!-- Buttons for the days -->
            <div>
                <h5>Giorno</h5>
                <div class="btn-group btn-group-lg-on-mobile container-fluid" role="group" style="flex-wrap: wrap;">
                    {% for day in days %}
                    <input type="radio" value="{{ day[0] }}" class="btn-check" name="day-button" id="{{ day[0] }}-day-button" autocomplete="off">
                    <label class="btn btn-outline-primary" name="day-button-label" id="{{ day[0] }}-day-button-label" for="{{ day[0] }}-day-button">{{ day[1] }}</label>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Buttons for the timespans -->
            <div id="timespans-buttons-div" style="margin-top: 1rem; visibility: hidden;">
                <h5>Orario</h5>
                <div id="timespans-button-group" class="btn-group btn-group-lg-on-mobile container-fluid" role="group" style="flex-wrap: wrap;">
                    {% for timespan in timespans %}
                    <input type="radio" value="{{ timespan[0] }}" class="btn-check" name="timespan-button" id="{{ timespan[0] }}-timespan-button" autocomplete="off">
                    <label class="btn btn-outline-primary" name="timespan-button-label" id="{{ timespan[0] }}-timespan-button-label" for="{{ timespan[0] }}-timespan-button">{{ timespan[1] }}</label>
                    {% endfor %}
                </div>
            </div>

            <!-- Booking button and number of available slots -->
            <div class="container-fluid" id="booking-button-div" style="margin-top: 5%; visibility: hidden;">
                <!-- Number of available slots -->
                <p id="available-slots"></p>
                
                <!-- Booking button -->
                <button class="btn btn-primary btn-lg-on-mobile" name="booking-button">Prenota</button>
            </div>
        </form>
        {% else %}
        <h5>Non si possono più modificare le prenotazioni</h5>
        {% endif %}
    </div>
    {% else %}
    <div class="unbooking">
        <div class="card card-booked">
            <div class="card-body">
                <h6 style="margin-bottom: 1px;">Prenotazione: {{ activity.booked }}</h6>
            </div>
        </div>
        {% if g.can_book %}
        <form method="post" style="margin: 5%;">
            <button class="btn btn-primary btn-lg-on-mobile" name="unbooking-button">Rimuovi Prenotazione</button>
        </form>
        {% else %}
        <br>
        <h5>Non si possono più modificare le prenotazioni</h5>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
