{% extends "layout.html" %}

{% block title %}
    Le Nostre Attivitá
{% endblock %}

{% set max_description_length = 96 %}

{% block main %}
    <script>
        function filter_activities(search) {
            search = search.toLowerCase();
            $(".card-wrapper").each(function(i, obj) {
                let title = $(".card-title", $(this))[0].textContent.toLowerCase();
                obj.style.display = title.includes(search) ? "flex" : "none";
            });
        }
        $(document).ready(function() {
            // select the input field
            let filter = $("#activities-filter");
            filter.on("keyup", function() {
                filter_activities(filter[0].value);
            });
        });
    </script>

    <div id="headers">
        <h1 class="mb-3">Attività</h1>
        <input type="text" class="form-control" id="activities-filter" placeholder="Filtra">
    </div>
    <div id="cards-container">
        {% for activity in activities %}
            <a class="card-wrapper" href="/activity?id={{ activity.id }}">
                <!-- desktop layout -->
                {% if activity.booked|length%}
                <div class="card mx-1 mb-4 desktop-card border-danger">
                {% else %}
                <div class="card mx-1 mb-4 desktop-card">
                {% endif %}
                    <p class="card-header">
                        {% if activity.length > 1 %}
                            {{ activity.length }} Moduli
                        {% else %}
                            1 Modulo
                        {% endif %}
                    </p>
                    <img class="card-img" src="{{ activity.image }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ activity.type }}</h6>
                        <p class="card-text">
                        {% if activity.description|length <= max_description_length %}
                            {{ activity.description }}
                        {% else %}
                            {{ activity.description[:max_description_length-4] }}...
                        {% endif %}
                        </p>
                    </div>
                </div>
                <!-- mobile layout -->
                <div class="card mx-auto mobile-card {% if activity.booked|length%}booked-card{% endif %}">
                    <div class="card-body">
                        <img class="card-img" src="{{ activity.image }}">
                        <div class="card-body-right">
                            <h5 class="card-title">{{ activity.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ activity.type }}</h6>
                            <p class="card-subtitle text-muted">
                                {% if activity.length > 1 %}
                                    {{ activity.length }} Moduli
                                {% else %}
                                    1 Modulo
                                {% endif %}
                            </p>
                            {% if activity.booked|length%}
                            <br>
                            <div class="card-text card-booked">
                                Prenotazione: <br> {{ activity.booked }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
