{% extends "admin_layout.html" %}

{% block title %}
    Admin Area
{% endblock %}

{% block main %}
    <h1><a href="/admin" style="color: inherit;">Admin Area</a></h1>
    <br>
    <form action="/admin" method="post">
        {% for command, arguments in commands.items() %}
        <button type="submit" name="command" value="{{ command }}">{{ command }}</button>
        {% for argument in arguments%}
        <input name="{{ argument }}" placeholder="{{ argument}}">
        {% endfor %}
        <br>
        <br>
        {% endfor %}
    </form>
    <p>
        {% for line in response %}
        {{ line }}<br>
        {% endfor %}
    </p>
{% endblock %}
