{% extends "basic_layout.html" %}

{% block title %}
    Admin Authentication
{% endblock %}

{% block body %}
    <div style="margin: 1rem;">
        <h1>Admin Authentication</h1>
        <br>
        <form method="post">
            {% for name, value in command.items() %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
            {% endfor %}
            <input id="password" name="password" placeholder="Password" type="password">
            <button type="submit">Authenticate</button>
        </form>
        <br>
        <a href="/admin" style="color: inherit;">Admin area</a>
    </div>
{% endblock %}
