{% extends "layout.html" %}

{% block title %}
    Registrati
{% endblock %}

{% block main %}
    <script>
        $(document).ready(function() {
            buttons = $("button.copy");
            for (let i = 0; i < buttons.length; i++) {
                $(buttons[i]).click(function () {
                    link = $(buttons[i]).attr("copy");
                    navigator.clipboard.writeText(link);
                    $("#UserInfo").html(`<h4>Link copiato!</h4><p>Invia questo link a <b>${buttons[i].textContent}</b>: potrà utilizzarlo per accedere al proprio account e prenotarsi.</p><small>${link}</small>`);
                });
            }
        });
    </script>

    <div class="row">
        <div class="col-lg">
            <h4 class="mb-3">Account già registrati:</h4>
            {% for value in group_members %}
            <div class="mb-2 mx-auto copyTarget" style="max-width: 30rem;"> 
                <button class="btn btn-primary copy my-auto" copy="{{ link }}/utente?id={{ value[0] }}">{{ value[1] }} {{ value[2] }}</button>
            </div>
            {% endfor %}
            <div id="UserInfo" class="mt-3"></div>
        </div>
        <div class="col-lg">
            <form method="post">
                <h4 class="m-3">Registra un nuovo esterno</h4>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Nome" type="text">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="surname" name="surname" placeholder="Cognome" type="text">
                </div>
                <a href="/privacy">Privacy Policy</a>
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Registra</button>
            </form>
        </div>
    </div>
{% endblock %}
