{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
    <h1>Il Festival ForMe ####: Fondamenti, Sentimenti, Cambiamenti</h1>
    <div class="row mx-2 mt-5">
        <!-- Left column -->
        <div class="col-lg-6" style="text-align: left;">
            <div style="margin: 0 5%;">
                <blockquote class="blockquote" style="text-align: center; margin-bottom: 20px;">
                    <p class="mb-3">Il più grande segno di successo per un insegnante è poter dire:<br>"i ragazzi e le ragazze stanno lavorando come se io non esistessi"</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Maria Montessori</cite></footer>
                </blockquote>
                <p>
                    Benvenuto nel sito per le prenotazioni del ForMe ####, anche questo interamente creato dagli studenti!
                    Il ForMe si terrà per gli studenti il 9 e il 10 novembre (giovedì e venerdì), mentre sabato 11 novembre sarà aperto a tutti quelli che volessero partecipare, anche esterni alla scuola.
                    Il titolo dell'edizione di quest'anno è <b>Fondamenti, Sentimenti, Cambiamenti</b>.

                    <br>Dopo il festival ForMe, si svolgeranno i festeggiamenti per il centenario del G.D. Cassini!
                    <br>
                    <h3>Come partecipare</h3>
                    <h4>Studenti</h4>
                    Se sei uno studente del <b>triennio</b>, non hai bisogno di registrarti! il tuo account è già stato creato.
                    Le credenziali di accesso ti sono state inviate via mail al tuo indirizzo scolastico (@liceocassini.eu).
                    <br>In caso di problemi con l'accesso al sito puoi scrivere una mail a noreply.formecassini@gmail.com. Prima però controlla la spam e il cestino.
                    <b>Se rimarrano dei moduli vuoti nel tuo orario, questi verranno riempiti casualmente. Affrettatevi a prenotare: i posti potrebbero finire presto!</b>
                    <h4 style="margin-top: 8px;">Esterni</h4>
                    Per gli esterni o gli studenti del <b>biennio</b> è sufficiente registrarsi al sito inserendo nome, cognome ed e-mail.
                    Come esterno, è possibile scegliere di partecipare solo in alcuni moduli in base alle propria disponibilità.
                    Il sabato, dopo il festival, si terranno le celebrazioni per il centenario. Non mancare!
                </p>
            </div>
        </div>
        <div class="col-lg-6" style="text-align: left;">
            <div style="margin: 0 5%;">
                <img src="/static/logo_forme.jpg" style="object-fit: contain; max-width: 100%; display: block; margin-left: auto; margin-right: auto;"></a>
                    <br>Per ulteriori informazione sul Forme:
                    <br><a href="https://www.liceocassini.it/progetti?id=49">Visita il sito della scuola</a>
                    <br>
                    <br>Per ulteriori informazioni su orari e attività:
                    <br><a href="/static/Catalogo ForMe.pdf" target="_blank"><b>Scarica il catologo in formato PDF</b></a>
            </div>
        </div>
    </div>
{% endblock %}
