{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
    <h1>Il Festival ForMe 2025: le forme dell'ignoto</h1>
    <div class="row mx-2 mt-5">
        <!-- Left column -->
        <div class="col-lg-8" style="text-align: left;">
            <div class="mx-1">
                <blockquote class="blockquote" style="text-align: center; margin-bottom: 20px;">
                    <p class="mb-3">Il più grande segno di successo per un insegnante è poter dire:<br>"i ragazzi e le ragazze stanno lavorando come se io non esistessi"</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Maria Montessori</cite></footer>
                </blockquote>
                <p>
                    Ti diamo il benvenuto nel sito per le prenotazioni di ForMe 2025, anche questo creato interamente dagli studenti!
                    ForMe si terrà per le studentesse e gli studenti il 27 ed il 28 febbraio (giovedì e venerdì), mentre sabato 1 marzo sarà aperto a tutti quelli che volessero partecipare, anche esterni alla scuola.
                </p>
                <h3>ForMe</h3>
                <p>
                    ForMe è un evento organizzato ogni anno da un comitato di studenti e docenti del Liceo Cassini.
                    Le lezioni curricolari vengono sostituite da laboratori curati da studenti ed ex studenti del Liceo.
                    I laboratori durano una o due ore (ore piene, non moduli). Studentesse e studenti si sposteranno di aula in aula seguendo i laboratori da loro prenotati.
                </p>
                <p>
                    Questa sarà la scansione oraria delle giornate di ForMe:
                    <ul>
                        <li>8:10: ingresso e appello degli studenti</li>
                        <li>8:25 - 9:25: prima ora</li>
                        <li>9:35 - 10:35: seconda ora</li>
                        <li>10:35 - 10:55: intervallo</li>
                        <li>10:55 - 11:55: terza ora</li>
                        <li>12:05 - 13:05: quarta ora</li>
                        <li>13:05: termine delle lezioni per tutti gli studenti</li>
                    </ul>
                </p>
                <h3 id="info">Come partecipare</h3>
                <h4>Se sei studente</h4>
                Effettua il <a href="login">login</a> con le credenziali che ti sono state inviate all'indirizzo email <b>@liceocassini.eu</b>.
                <br>In caso di problemi con l'accesso, scrivi una mail a <a href="mailto:help@example.com">help@example.com</a>. Prima però controlla la spam ed il cestino.
                <b>Se rimarranno dei moduli vuoti nel tuo orario, questi verranno riempiti casualmente. Affrettati a prenotare: i posti potrebbero finire presto!</b>
                <h4 class="mt-2">Se sei un familiare o un amico di studente</h4>
                Gli studenti possono iscrivere familiari, parenti a amici al festival e prenotare i laboratori per loro dalla sezione 'Esterni' del sito.
                <h4 class="mt-2">Se sei un partecipante esterno</h4>
                Invia un'e-mail all'indirizzo <a href="mailto:noreply.formecassini@gmail.com">noreply.formecassini@gmail.com</a> indicando nome e cognome; creeremo il tuo account il prima possibile.
                Se preferisci indica direttamente nell'e-mail a quali laboratori vorresti partecipare; effettueremo noi l'iscrizione per te.
                Puoi visualizzare i laboratori disponibili selezionando 'Catalogo delle Attività' dal menù in alto o scaricando il catalogo in formato PDF da questa pagina.
            </div>
        </div>
        <div class="col-lg-4" style="text-align: left;">
            <div style="margin: 0 5%;">
                <img src="/static/logo_forme.jpg" style="object-fit: contain; max-width: 100%; display: block; margin-left: auto; margin-right: auto;" alt="Logo ForMe">
                <br><a href="https://www.liceocassini.it/">Visita il sito della scuola</a>
                <br><a href="/static/Catalogo ForMe.pdf" target="_blank"><b>Scarica il catalogo in formato PDF</b></a>
                <h5 class="mt-3">Il comitato ForMe</h5>
                <h6>Studenti</h6>
                <p class="text-nowrap d-inline">Baglietto Luca</p> -
                <p class="text-nowrap d-inline">Frittoli Lorenzo</p>
                <h6 class="mt-2">Professori</h6>
            </div>
        </div>
    </div>
{% endblock %}
