{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
    <div class="intro">
        <div class="title"></div>
        <div class="descr"><p>Il "Festival ForMe del Cassini" è un'iniziativa studentesca che promuove il sapere attraverso modalità alternative alla didattica tradizionale. Gli studenti organizzano laboratori e conferenze interdisciplinari, coinvolgendo docenti e ex alunni. L'obiettivo è trasformare l'esperienza scolastica in un'opportunità di apprendimento entusiasmante e trasversale.</p></div>
    </div>
{% endblock %}
