{% extends "layout.html" %}

{% block title %}
    Me
{% endblock %}

{% block main %}
    <!-- Makes a warning appear if you have already booked this course -->
    {% if user_type == "student" %}
    <script>
        $(document).ready(function() {
            schedule = JSON.parse('{{ schedule|tojson }}');

            // Check every title to spot empty spots
            for (const day of Object.values(schedule)) {
                for (const data of Object.values(day)) {
                    if (data[0] === "") {
                        // If there are empty spots, display a warning
                        $(".warning").css("display", "block");
                        return;
                    }
                }
            }
        });
    </script>

    <h3 class="warning" style="display: none;">Tutti i moduli vuoti verranno riempiti casualmente</h3>
    {% endif %}

    <h1>{% if user_type == "impersonate" %}Verifica orario{% elif user_type == "staff" %}Informazioni per lo staff{% else %}Il mio orario{% endif %}</h1>
    {% if user_email %}<p>{{ user_email }}</p>{% endif %}
    {% if user_type != "staff" %}
    <div class="mb-3" style="margin: 2rem 0;">
        <table class="table table-striped" id="table-desktop">
            <!-- set the first column to 10% and the others all equal so they sum up to 90% -->
            <colgroup>
                <col style="width: 10%;">
                {% for timespan in schedule.values()|first %}
                <col style="width: {{ 90/schedule.values()|first|length }}%;">
                {% endfor %}
            </colgroup>
            <thead>
                <th> </th>
                {% for timespan in schedule.values()|first %}
                <th>{{ timespan }}</th>
                {% endfor %}
            </thead>
            {% for day, bookings in schedule.items() %}
            <tr>
                <th>{{ day }}</th>
                {% for title, link in bookings.values() %}
                    {% if title == "" %}
                        <td style="color: rgb(117, 117, 117);">Vuoto</td>
                    {% else %}
                        <td><a href="{{ link }}">{{ title }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table class="table table-striped" id="table-mobile">
            <!-- set the first column to 10% and the others all equal so they sum up to 90% -->
            <colgroup>
                <col style="width: 10%;">
                {% for day, bookings in schedule.items() %}
                <col style="width: {{ 90/schedule.items()|length }}%;">
                {% endfor %}
            </colgroup>
            <thead>
                <th> </th>
                {% for day, bookings in schedule.items() %}
                <th>{{ day }}</th>
                {% endfor %}
            </thead>
            {% for timespan in schedule.values()|first %}
            <tr>
                <th>{{ timespan }}</th>
                {% for day, bookings in schedule.items() %}
                    {% if schedule[day][timespan][0] == "" %}
                        <td style="color: rgb(117, 117, 117);">Vuoto</td>
                    {% else %}
                        <td><a href="{{ schedule[day][timespan][1] }}">{{ schedule[day][timespan][0] }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>
        Gli account staff possono visualizzare le attività normalmente, tuttavia
        <h5>Non possono prenotarsi</h5>
        <h5>Possono visualizzare le disponibilità per tutti i giorni del festival</h5>
        <h5>Hanno accesso alle prenotazioni di ogni laboratorio</h5>
        <p>
            Le prenotazioni sono visibili il giorno stesso in fondo alla pagina dell'attività, dove per gli altri account sono presenti i bottoni per prenotarsi.
        </p>
        <h5>Possono visualizzare l'orario dei singoli studenti</h5>
        <p>
            <b>Selezionare "ricerca utenti" dal menù del sito</b>
            <br>
            Oltre ai qr code di verifica (che possono essere visualizzati da chiunque, anche senza effettuare il login)
            gli account staff possono cercare i singoli utenti per nome, cognome, email o classe.
        </p>
    </p>
    {% endif %}
{% endblock %}
