{% extends "layout.html" %}

{% block title %}
    Me
{% endblock %}

{% block main %}
    <!-- Makes a warning appear if you have already booked this course -->
    <script>
        $(document).ready(function() {
            schedule = JSON.parse('{{ schedule|tojson }}');
            fully_booked = 1;
            
            // Check every title to spot empty spots
            outerLoop: for (const day of Object.values(schedule)) {
                for (const data of Object.values(day)) {
                    if (data[0] == "") {
                        console.log("found empty field")
                        fully_booked = 0;
                        break outerLoop;
                    }
                }
            }

            // If there are empty spots, display a warning
            if (fully_booked == 0) {
                console.log("displaying warning")
                $(".warning").css("display", "block");
            }
        });
    </script>

    <h3 class="warning">CI SONO POSTI NON PRENOTATI</h3>
    <h1>Orario</h1>
    <div class="mb-3" style="margin: 2rem 5%;">
        <table class="table table-striped">
            <thead>
                <th> </th>
                {% for timespan in schedule.values()|first %}
                <th>{{ timespan }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for day, bookings in schedule.items() %}
                <tr>
                    <th>{{ day }}</th>
                    {% for title, link in bookings.values() %}
                        {% if title == "" %}
                            <td style="color: rgb(117, 117, 117);">Vuoto</td>
                        {% else %}
                            <td><a href="{{ link }}"">{{ title }}</a></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ booking }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}