{% extends "layout.html" %}

{% block title %}
    Privacy & Cookie policy
{% endblock %}

{% block main %}
    <div class="text-start mx-4 mt-2">
        <h2>Cookie</h2>
        <p>
            Questo sito utilizza i cookie per ricordare gli utenti quando effettuano l'accesso.
            <br>Tutti i cookie sono cancellati automaticamente quando si chiude il browser o si effettua il log-out.
        </p>
        <h2>Privacy</h2>
        <p>
            Questo sito conserva i seguenti dati sugli utenti:
            <ul>
                <li>Informazioni fornite al momento della registrazione</li>
                <li>Prenotazioni effettuate</li>
            </ul>
            I dati non vengono condivisi con terzi e sono utilizzati solamente nell'ambito delle attività o per fini statistici.
            <br>
            Per ulteriori informazioni o richieste rivolgersi a <a href="mailto:noreply.formecassini@gmail.com">noreply.formecassini@gmail.com</a>.
        </p>
    </div>
{% endblock %}