{% extends "layout.html" %}

{% block title %}
    Registrati
{% endblock %}

{% block main %}
    <h2>Come registrarsi</h2>
    <h4>Se sei uno studente</h4>
    Effettua il <a href="login">login</a> con le credenziali che ti sono state inviate all'indirizzo email <b>@liceocassini.eu</b>.
    <br>
    <br>
    <h4>Se sei un familiare o un amico di uno studente</h4>
    Gli studenti possono iscrivere familiari, parenti a amici al festival e prenotare i laboratori per loro dalla pagina "Esterni".
    <br>
    <br>
    <h4>Se partecipi per conto tuo</h4>
    Invia un'e-mail all'indirizzo <a href="mailto:noreply.formecassini@gmail.com">noreply.formecassini@gmail.com</a> indicando nome e cognome, ti iscriveremo il prima possibile.
    <br>Se preferisci puoi indicare direttamente nell'e-mail a quali laboratori vorresti partecipare, effettueremo noi l'iscrizione per te.
{% endblock %}
