{% extends "layout.html" %}

{% block title %}
    Registrati
{% endblock %}

{% block main %}
    <form method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Nome" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="surname" name="surname" placeholder="Cognome" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Conferma password" type="password">
        </div>
        <a href="/privacy">Privacy Policy</a>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Registrati</button>
    </form>
{% endblock %}